 /*HEADER*/
 header { 
    display: flex;
    flex-direction: column;
    background-size: cover;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-image: url(../img/banner1.jpg)
     }

    .header__logo {
        display: flex;
        justify-content: center;

        .header__logo__img {
            display: flex;
            align-items: center;
            width: 250px;
            }    
    }

        .nav-item {
        display: flex;
        justify-content: space-around;
        font-family: $font-principal;
        padding: $spacing-small;
        color: rgb(250, 232, 232);
        font-weight: bolder;
    
    }