        /*CONTACTO*/

#container-sm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    background-color:  #4d4d4d93;

    .text__form{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        font-size: $text-base;
        padding: $spacing-medium;

    }
    }
    
   