        /*CONTACTO*/

        #background  {
        background-image: url(../img/fondo-1-opacity.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    } 


    .contact__title {
        display: flex;  
        justify-content: center;
        padding: $spacing-small;
        color: $color-primary;
    
    }
    
    .box {
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacing-medium;
        margin-top: $spacing-large;

    .box__description {
        font-family: $font-secondary;
        font-size: $text-base;
        color: $color-primary;
        margin: $spacing-medium;
        font-weight: bold;
        text-align: center;

    }

    .box__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: $text-small;
        padding: $spacing-medium;
        gap: $spacing-small;
        border: 1 solid #2b2b2b ;
        border-radius: 10px;
        outline: 0px;
    }
        
       
        & input {
            font-size: $spacing-small;
            height: 15%; 
            color: $color-primary;
        }

        .btn__enviar {
            @include container (25%, 15%, orange);
            font-size: $text-small;
            border: none;
            border-radius: $spacing-small/2;
            outline: 0px;
            color: $color-normal;
            
        }
        
    }   

   

  
       
       
          
    


    
   




