    /*EMPRESA MAIN*/

#info {
    display: flex;
    flex-direction: column;
    background-image: url(../img/texture-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    gap: $spacing-medium;
    align-items: center;

    .info__titular {
        display: flex;
        justify-content: center;
        font-family: $font-principal;
        font-weight: bold;
        padding: $spacing-small;
        font-size: $text-large;
        color: $color-primary;
        
    }

    .info__parrafo { 
        display:flex ;
        font-family: $font-secondary;
        font-weight: 500;
        font-weight: bold;
        font-size: $text-base;
        align-items: center;
    }

    .btn__info {
        @include container(50%, 25%, orange);
        border-radius: 5px 5px;
        text-align: center;
        border: none;
        
        &:hover {
            background-color:rgba(255, 166, 0, 0.89);
            color:rgb(31, 22, 15);
        }
    }
    

}
   