        /*SECTION INDEX*/

.contenedor {
    background-image: url(../img/texture-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.container__titulo {    
    font-family: $font-principal;
    padding: 2rem;
    text-align: center;
    color: rgb(31, 22, 15);
    font-weight: bolder;
    font-weight: 700;
    font-size: $text-large;

}
.carousel-dark .carousel-caption {
    background-color: #2c1a1d00;
    color: white;
   
}


.container__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $spacing-medium;
    align-items: center;
    max-width: 80%;
    margin:0 auto;
    background-color: $bg-secondary;
   

    .container__card__img{
        border-style: solid;
        border-radius: 5px 5px;
        box-shadow: 10px 10px 25px rgb(32, 28, 8) ;
        transition: 2s;
    }

    .container__card__img:hover{
        transform: scale(1.1);
    
    }
    .container__descripcion__card {
        display: flex;
        flex-direction: column;
        font-family: $font-principal;
        font-size: 1.3em;
        text-align: start;
        font-weight: 700;

    } 
    .container__card__link{
        @include container (50%, none, #2c1a1d);
        color: white;
        font-size: $text-small;
        border-radius: $spacing-xsmall;
        text-align: center;
        transition: none;
        
    }
        
}
    
.container__subtitulo {
    font-family: $font-secondary;
    padding: $spacing-medium;
    text-align: center;
    color: rgb(36, 22, 12);
    font-weight: bolder;
    font-size: $text-large;
    text-transform: uppercase;
}



