        /*NOVEDADES*/

 .novedades {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: $spacing-xsmall;

    &__titulo {
        font-family: $font-principal;
        color: map-get($text-colors	, primary );
        text-align: center;
        font-size: $spacing-medium;
        padding: $spacing-medium;
        
    }

    &__descripcion {
  
        padding: 2rem;
        color: map-get($text-colors , secondary);
        font-size: 2vw;
        font-weight: bold;
        font-style: oblique;
    }
    
}


.novedades__image {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;

    &__image__1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;  
    }
    &__image__2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 2rem;
    }
    &__image__3{
    
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    &__image__4{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 2rem;
    }
  
}



.novedades__border {
    border: 3px solid rgb(226, 195, 17);
    border-radius: 7vh;
    box-shadow: 0 0 20px rgb(226, 195, 17);
}






