  /*PRODUCTOS*/ 

#galeria {
    background-color: $bg-primary;
    padding: $spacing-small;  

    .galeria__titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $spacing-small;
        font-family: $font-principal;
        font-weight: 500;
        font-weight: bold;
        font-size: $text-large;
    }
    
    .galeria__box {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: $spacing-medium;
        max-width: 80%;
        margin: auto;
        padding: $spacing-small;
        background-color: $bg-secondary;
        
    }
    .galeria__list__img {
        overflow: hidden;
        max-width: 100%;
        height: auto;
        transition: 1s;
        object-fit: cover;

        &:hover {
            transform: scale(1.1);
     }

    }
     
} 


  



