     

      @media  screen and (max-width: 480px)  {

        /*INDEX*/

    a {
       transition: none;
    }

    .nav-item {
       padding: 0;
       color: rgb(250, 232, 232);
       font-size: small;
       font-weight: bolder;
    }
   
   
    .container__descripcion__card {
       display: flex;
       flex-direction: column;
       padding-top: 10px;
       font-family: 'Work Sans', sans-serif;
       font-size: 4vw;
       font-weight: 700;
   
    }     

    .container_image {
      flex-direction: column;
      gap: 1px;
      animation: none;
    }

    .container__descripcion {  
       display: flex;
       justify-content: center;
       font-family: 'Work Sans', sans-serif;
       font-size: 4vw;
       font-weight: 700;
    }
  
       /*PRODUCTOS*/

      #galeria .galeria__titulo {
        font-size: $text-base;
        color: $color-primary;
    }      

      #galeria .galeria__box { 
       grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
       max-width: 100%;
       padding: $spacing-small;
      
   }


       /*EMPRESA*/
      #info .info__titular { 
       display: flex;
       align-items: center;
       font-family: $font-principal;
       font-size: $text-base;
       padding: $spacing-small;
    }

      #info .info__parrafo {
       display: flex;
       align-items: center;
       font-family: $font-secondary;
       font-size: $text-small;
       padding: $spacing-small;
       }

      #info .btn__info {
        border: solid #ffd725 ;
      }
        

       /*NOVEDADES*/

    .novedades__image {        
       flex-direction: column;
       max-width: 70%;
    }
    .novedades__image__1 {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       gap: 1rem;  
    }
    .novedades__image__2{
       flex-direction: column;
       align-items: center;
       gap: 1rem;
    } 
    .novedades__image__3{
      flex-direction: column;
       gap: 1rem;
    }
    .novedades__image__4{
      flex-direction: column;
       align-items: center;
       gap: 1rem;
    }

    .novedades__titulo {
       font-family: 'Work Sans', sans-serif;
       color: rgb(255, 248, 248);
       text-align: center;
       font-size: 6vw;
       padding: $spacing-small; 
      } 
      
    .novedades__descripcion {
       display: flex;
       flex-direction: column;
       padding: $spacing-medium;
       color: white;
       font-size: 5vw;
       font-weight: bold;
       font-style: oblique;
    }
       /*CONTACTO*/

    #seccion-form {
       flex-direction: column;
       gap: $spacing-small;
    }

    .seccion-form__titular {
       color: black;
       font-size: medium;
       align-items: center;
    }
    
   
       /*FOOTER*/
    footer { 
        flex-direction: row
            
    }
       
  
   footer .footer__info {
       display: flex;
       font-size: small;    
    }
   
   }
        