         /*MEDIA QUERIES*/

@media  screen and (max-width: 999px) {  
      #background {
         max-width: 100%;
      }
      
      #background .contact__title {
         display: flex;  
         justify-content: center;
         padding: $spacing-xsmall;
         color: $color-primary;
     
     }
            
      .box { 
         display: flex;
         flex-wrap: wrap;
         margin-top: 0;

      }
      
      .box .box__description {
         font-size: $text-small;
         margin: $spacing-xsmall;
         padding: 0;
      }
      .box .box__form {
         padding: $spacing-xsmall;
      }

      .box .box__form .btn__enviar {
         @include container (50%, 15%, orange);
      }
}         

      @media  screen and (max-width: 480px)  {

    a {
       transition: none;
    }

    .nav-item {
         padding: 0;
         color: rgb(250, 232, 232);
         font-size: small;
         font-weight: bolder;
    }
   
         /*INDEX*/
      .container__titulo {    
         font-family: $font-principal;
         padding: $spacing-small;
         text-align: center;
         color: $color-primary;
         font-size: $text-base;
        
   }
      .container__subtitulo {
         font-family: $font-secondary;
         padding: $spacing-small;
         text-align: center;
         color: $color-primary;
         font-size: $text-medium;
         text-transform: uppercase;
      }

      .container__card .container__descripcion__card {
         display: flex;
         flex-direction: column;
         font-family: $font-principal;
         font-size: $text-small;
         font-weight: 500;
         
      
      } 
      
      .container__card .container__card__link {
         width: 33%;
         font-size: 0.75em;
      }    

      .container_image {
         flex-direction: column;
         animation: none;
      }

      .carousel__img {
         width: 100% !important;
      }

  
       /*PRODUCTOS*/

      #galeria .galeria__titulo {
         font-size: $text-base;
         color: $color-primary;
    }      

      #galeria .galeria__box { 
         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
         max-width: 100%;
         padding: $spacing-small;
      
   }


       /*EMPRESA*/
      #info .info__titular { 
         display: flex;
         align-items: center;
         font-family: $font-principal;
         font-size: $text-base;
         padding: $spacing-xsmall;
         margin: 0;
    }

      #info .info__parrafo {
         display: flex;
         align-items: center;
         font-family: $font-secondary;
         font-size: $text-small;
         padding: $spacing-xsmall;
         margin: 0;
      }

      #info .btn__info {
         border: solid #ffd725 ;
      }
      

       /*NOVEDADES*/

     
      .novedades__image {        
         flex-direction: column;
         width: 100%;

    }
      .novedades__image__1 {
         display: flex;
         max-width: 80%;
         flex-wrap: wrap;
         margin: 0 auto;
         gap: $spacing-small;  
   } 
      .novedades__image__2{
         flex-wrap: wrap;
         align-items: center;
         max-width: 80%;
         margin: 0 auto;
         gap: $spacing-small
    } 
      .novedades__image__3{
         flex-direction: column;
         gap: $spacing-small;
         max-width: 80%;
         margin: 0 auto;
    }
      .novedades__image__4{
         flex-wrap: wrap;
         align-items: center;
         gap: $spacing-small;
         max-width: 80%;
         margin: 0 auto;
    }

      .novedades__titulo {
         font-family: $font-principal;
         color: map-get($text-colors	, primary );
         text-align: center;
         font-size: $text-medium;
         padding: $spacing-small; 
      } 
      
      .novedades__descripcion {
         padding: $spacing-small;
         color: map-get($text-colors , secondary);
         font-size: $text-medium;
         font-weight: bold;
         font-style: oblique;
    }
         
   
       /*FOOTER*/
      footer { 
         display: flex;
         flex-direction: column;
         padding: $spacing-xsmall;
         height: 15vh;
      }
  
      footer .footer__info {
         display: flex;
         Font-size: small;    
      }

      footer .footer__logo {
         width: 5vh;
         font-size: 0.5em;
         background-attachment: fixed;
         background-color: #ddd;
         border: 3px solid rgb(224, 6, 206);
         border-radius: 7vh;
         box-shadow: 0 0 20px rgb(224, 6, 206);
     }
   
   
   }


        