         /*MEDIA QUERIES*/

      @media  screen and (max-width: 480px)  {

       

    a {
       transition: none;
    }

    .nav-item {
       padding: 0;
       color: rgb(250, 232, 232);
       font-size: small;
       font-weight: bolder;
    }
   
         /*INDEX*/
      .container__titulo {    
         font-family: $font-principal;
         padding: $spacing-small;
         text-align: center;
         color: $color-primary;
         font-size: $text-base;
        
   }
      .container__subtitulo {
         font-family: $font-secondary;
         padding: $spacing-small;
         text-align: center;
         color: $color-primary;
         font-size: $text-medium;
      }

      .container__card .container__descripcion__card {
       display: flex;
       flex-direction: column;
       font-family: 'Work Sans', sans-serif;
       font-size: $text-small;
       
   
    }     

      .container_image {
      flex-direction: column;
      animation: none;
    }
      .carousel__img {
         width: 100% !important;
      }

  
       /*PRODUCTOS*/

      #galeria .galeria__titulo {
        font-size: $text-base;
        color: $color-primary;
    }      

      #galeria .galeria__box { 
       grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
       max-width: 100%;
       padding: $spacing-small;
      
   }


       /*EMPRESA*/
      #info .info__titular { 
       display: flex;
       align-items: center;
       font-family: $font-principal;
       font-size: $text-base;
       padding: $spacing-xsmall;
       margin: 0;
    }

      #info .info__parrafo {
       display: flex;
       align-items: center;
       font-family: $font-secondary;
       font-size: $text-small;
       padding: $spacing-xsmall;
       margin: 0;
       }

      #info .btn__info {
        border: solid #ffd725 ;
      }
        

       /*NOVEDADES*/

      .data-aos {
      animation: none;
     }   

      .novedades__image {        
      flex-direction: column;
      width: 100%;

    }
      .novedades__image__1 {
       display: flex;
       max-width: 100%;
       flex-wrap: wrap;
       align-items: center;
       gap: 1rem;  
    }
      .novedades__image__2{
       flex-direction: column;
       align-items: center;
       max-width: 100%;
       gap: 1rem;
    } 
      .novedades__image__3{
      flex-direction: column;
       gap: 1rem;
       max-width: 100%;
    }
      .novedades__image__4{
      flex-direction: column;
       align-items: center;
       gap: 1rem;
       max-width: 100%;
    }

      .novedades__titulo {
       font-family: 'Work Sans', sans-serif;
       color: map-get($text-colors	, primary );
       text-align: center;
       font-size: $text-base;
       padding: $spacing-small; 
      } 
      
      .novedades__descripcion {
       display: flex;
       flex-direction: column;
       padding: $spacing-small;
       color: map-get($text-colors , secondary);
       font-size: $text-medium;
       font-weight: bold;
       font-style: oblique;
    }
       /*CONTACTO*/

      #container-sm {
         display: flex;
         flex-direction: column;
         align-items: center;
         background-color:  #4d4d4d93;
     
      .text__form {
         width: 300px;
         font-size: $text-small;
         padding: $spacing-small;
         font-family: $font-secondary;
   
         }
      }
         
   
       /*FOOTER*/
      footer { 
        display: flex;
        justify-content: space-between;
      }
  
      footer .footer__info {
       display: flex;
       font-size: small;    
      }
   
   
   }
        