/* Font-Family*/
$font-principal: Roboto Mono;
$font-secondary: Work Sans;

/* Font-sizes*/
$text-xlarge: 4em;
$text-large: 3em;
$text-base: 2em;
$text-medium: 1.5em;
$text-small: 1em;

/*background-colors*/
$bg-primary: #4d4d4d93;
$bg-secondary: rgba(220, 220, 220, 0.295);

/* Colors-text*/
$color-primary: rgb(31, 22, 15);
$color-base: #4d4d4d93;
$color-normal: white;

/*Spacincs*/
$spacing-large: 4rem;
$spacing-medium: 2rem;
$spacing-small: 1rem;
$spacing-xsmall: 0.5rem;


/*Maps*/
$primary: #ffba08;
$secondary: #ffb908c0;


$text-colors: (
    primary: $primary,
    secondary: $secondary,
);  /*aplicado en seccion novedades*/

/*Extend*/
.style-link {
    color: #ffc600;
    text-decoration: none;
    font-family: $font-principal;
    &:hover {
        color:#ffc800d3;
        opacity: 0.5;
    }   /*aplicado en home y en footer en los links q no estan en el navbar*/
} 

