/* Font-Family*/
$font-principal: Roboto Mono;
$font-secondary: Work Sans;

/* Font-sizes*/
$text-large: 4em;
$text-base: 2em;
$text-small: 1em;

/* Colors-text*/
$color-primary: #2f2f2f;
$color-secondary: #E0E0CE;

/*Spacincs*/
$spacing-large: 4rem;
$spacing-medium: 2rem;
$spacing-small: 1rem;
$spacing-xsmall: 0.5rem;